{% extends 'recetas/layout.html' %}
{% load static %}


{% block title %} {{ paciente.nombre }} {% endblock %}
{% block content %}
<style>
    .efecto-hover {
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

    .efecto-hover:hover {
        transform: translateY(-5px);
        box-shadow: 5px 5px 0px black;
    }
</style>

<section class=" container ">

    <div class=" grid grid-cols-1 lg:grid-cols-2 gap-4 my-5 bg-amber- justify-between">
        <!-- Left Column -->
        <div class="my-3">
            
            <h1 class="">{{ paciente.nombre }}</h1>
            {% if paciente.imagen %}
            <img src="{{ paciente.imagen.url }}" alt="{{ paciente.nombre }}"
                class=" border-black border-3 my-5">
            {% else %}
            <p>No hay imagen disponible para esta receta.</p>
            {% endif %}
        </div>

        <!-- Right Column -->
        <div class="">
            <!-- Ingredients Section -->
            <div class=" border-black border-3 px-2 bg-white">
                <h2 class="section-title">🍇Ingredientes</h2>
                <ul class="">
                    {% for ingrediente in receta.ingredientes.all %}
                    <li class="list-disc">{{ ingrediente.nombre }}</li>
                    {% endfor %}
                </ul>
            </div>


            <!-- Preparation Section -->
            <div class=" border-black border-3 px-2 bg-white mt-3">
                <h2 class="section-title ">📃Preparacion</h2>
                <ol>
                    {% for paso in receta.pasos.all %}
                    <li class="list-disc">{{ paso.descripcion }}</li>
                    {% endfor %}
                </ol>
            </div>
            <!-- Tips Section -->
            <div class=" border-black border-3 px-2 bg-white mt-3">
                <h2 class="section-title ">Tips</h2>
                {% for tip in tips %}
                <h5 class="font-bold">{{ tip.nombre }}</h5>
                <p>{{ tip.descripcion }}</p>
                {% endfor %}
            </div>
        </div>

    </div>

    <div class="text-center my-5">
        <a href="{% url 'lista_pacientes' %}"
            class="btn mx-auto border-black border-3 rounded-0 fw-medium  w-auto efecto-hover"
            style="background-color: #F7C236;">Volver a la lista de pacientes</a>
    </div>

</section>
{% endblock %}